* {
    margin:0px;
    padding:0px ;

}
header a {
  display: flex;
  

}

.Filtres span {
    border:1px solid black;
    border-radius:15px;
    margin: 0 5px 0 5px;
}

.Filtres i {
    background-color: #deebff;
    color:#0065fc;
}

.inputReserv {
border: 1px solid black;
display: inline-block;
border-radius: 15px;
}

.inputReserv i {
    background-color: #f2f2f2;
}

.inputReserv input {
    border:none;
}

.inputReserv button {
    background-color: blue;
    color:white;
}


header {

 display:flex;
 justify-content: space-between;

}

.container {
background-color: #f2f2f2;
width:92%;
margin: auto;
padding: 20px;
height: 50%;
border-radius: 25px;
border:solid black 1px;
display: flex;
justify-content: space-between;



}

.articlehotel img {
    width: 80px;
    height: 80px;
}

.articlehotel {
    
    border-radius: 25px;
    border:solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articlehaut {
    display: flex;
}

.articlebas {
    display: flex;
}

aside img {
    width: 80px;
    height: 80px;
}

.activitemarseille img{
    width: 80px;
    height: 80px;
}

    
footer {
    height: 190px;
    background-color: #f2f2f2;
}

footer nav {
    display:flex;
    margin-left: 30px;
    padding-top: 30px;



}

footer nav div {
    display: flex;
    flex-direction: column;
    margin-right: 25%;
}

footer nav div a {
    text-decoration: none; 
    color: black;
    margin-top:7px;
}

footer h3 {
    margin-bottom: 10px;
}